[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
pelvisroot
pelvis
spine_01
spine_02
spine_03
thigh_l
calf_l
calf_twist_01_l
foot_l
ball_l
thigh_twist_01_l
thigh_r
calf_r
calf_twist_01_r
foot_r
ball_r
thigh_twist_01_r
ik_foot_root
ik_foot_l
ik_foot_r
ArmBase
ik_hand_root
ik_hand_gun
ik_hand_r
ik_hand_l
clavicle_r
upperarm_r
lowerarm_r
lowerarm_twist_01_r
hand_r
ring_01_r
ring_02_r
ring_03_r
pinky_01_r
pinky_02_r
pinky_03_r
thumb_01_r
thumb_02_r
thumb_03_r
index_01_r
index_02_r
index_03_r
middle_01_r
middle_02_r
middle_03_r
hand_rSocket
upperarm_twist_01_r
clavicle_l
upperarm_l
upperarm_twist_01_l
lowerarm_l
lowerarm_twist_01_l
hand_l
thumb_01_l
thumb_02_l
thumb_03_l
index_01_l
index_02_l
index_03_l
middle_01_l
middle_02_l
middle_03_l
ring_01_l
ring_02_l
ring_03_l
pinky_01_l
pinky_02_l
pinky_03_l
hand_lSocket
helmetSocket
buildgun_Socket

[RemoveTracks]
CupDrink_02.1=all
CupDrink_02.2=all
CupDrink_02.3=all
CupDrink_02.4=all
CupDrink_02.5=all
CupDrink_02.6=all
CupDrink_02.7=all
CupDrink_02.8=all
CupDrink_02.9=all
CupDrink_02.10=all
CupDrink_02.11=all
CupDrink_02.12=all
CupDrink_02.13=all
CupDrink_02.14=all
CupDrink_02.15=all
CupDrink_02.16=all
CupDrink_02.17=all
CupDrink_02.18=all
CupDrink_02.19=all
CupDrink_02.20=all
CupDrink_02.21=all
CupDrink_02.22=all
CupDrink_02.24=all
CupDrink_02.31=all
CupDrink_02.32=all
CupDrink_02.33=all
CupDrink_02.34=all
CupDrink_02.35=all
CupDrink_02.36=all
CupDrink_02.37=all
CupDrink_02.38=all
CupDrink_02.41=all
CupDrink_02.42=all
CupDrink_02.43=all
CupDrink_02.44=all
CupDrink_02.45=all
CupDrink_02.48=all
CupDrink_02.49=all
CupDrink_02.50=all
CupDrink_02.51=all
CupDrink_02.52=all
CupDrink_02.53=all
CupDrink_02.54=all
CupDrink_02.55=all
CupDrink_02.56=all
CupDrink_02.57=all
CupDrink_02.58=all
CupDrink_02.59=all
CupDrink_02.60=all
CupDrink_02.61=all
CupDrink_02.62=all
CupDrink_02.63=all
CupDrink_02.64=all
CupDrink_02.65=all
CupDrink_02.66=all
CupDrink_02.67=all
CupDrink_02.68=all
CupDrink_02.69=all
CupDrink_02.70=all
CupDrink_02.71=all
