[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
pelvisroot
pelvis
spine_01
spine_02
spine_03
thigh_l
calf_l
calf_twist_01_l
foot_l
ball_l
thigh_twist_01_l
thigh_r
calf_r
calf_twist_01_r
foot_r
ball_r
thigh_twist_01_r
ik_foot_root
ik_foot_l
ik_foot_r
ArmBase
ik_hand_root
ik_hand_gun
ik_hand_r
ik_hand_l
clavicle_r
upperarm_r
lowerarm_r
lowerarm_twist_01_r
hand_r
ring_01_r
ring_02_r
ring_03_r
pinky_01_r
pinky_02_r
pinky_03_r
thumb_01_r
thumb_02_r
thumb_03_r
index_01_r
index_02_r
index_03_r
middle_01_r
middle_02_r
middle_03_r
hand_rSocket
upperarm_twist_01_r
clavicle_l
upperarm_l
upperarm_twist_01_l
lowerarm_l
lowerarm_twist_01_l
hand_l
thumb_01_l
thumb_02_l
thumb_03_l
index_01_l
index_02_l
index_03_l
middle_01_l
middle_02_l
middle_03_l
ring_01_l
ring_02_l
ring_03_l
pinky_01_l
pinky_02_l
pinky_03_l
hand_lSocket
helmetSocket
buildgun_Socket

[RemoveTracks]
CupIdle_01.1=all
CupIdle_01.2=all
CupIdle_01.3=all
CupIdle_01.4=all
CupIdle_01.5=all
CupIdle_01.6=all
CupIdle_01.7=all
CupIdle_01.8=all
CupIdle_01.9=all
CupIdle_01.10=all
CupIdle_01.11=all
CupIdle_01.12=all
CupIdle_01.13=all
CupIdle_01.14=all
CupIdle_01.15=all
CupIdle_01.16=all
CupIdle_01.17=all
CupIdle_01.18=all
CupIdle_01.19=all
CupIdle_01.20=all
